<div class="table-responsive">
  <table class="custom-table table table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-sm-1"><%= t("common.form.no") %></th>
        <th><%= t("model.group.type.name") %></th>
        <th class="col-sm-3"><%= t("model.group.type.created_date") %></th>
        <th class="col-sm-1"><%= t("common.form.action") %></th>
      </tr>
    </thead>

    <tbody>
      <% if @groups.any? %>
        <% @groups.each do |group| %>
          <tr>
            <td><%= @start_count %></td>
            <td><a href="javascript:void(0)" 
              class="group_name" data-id="<%= group.id %>" 
              data-is-blocked="<%= group.is_deleted %>">
              <%= group.name %></a></td>
            <td><%= group.created_at.strftime("%m/%d/%Y") %></td>
            <td>
              <% if group.create_by_user ==  current_user.id %>
                <a href="#" data-toggle="modal" data-target="#group_form" 
                  class="group_edit" data-id="<%= group.id %>">
                  <i class="fa fa-pencil-square-o custom-action-icon-green
                    custom-action-icon-edit">
                  </i>
                </a>

                <a href="#" class="blocked-group" id="blocked-group-<%= group.id %>" 
                  data-id="<%= group.id %>">
                  <% if group.is_deleted? %>
                    <i class="fa fa-lock fa-lg"></i>
                  <% else %>
                    <i class="fa fa-unlock-alt fa-lg"></i>
                  <% end %>
                </a>

                <a href="#modal-deletion" data-placement="right" 
                  data-toggle="modal" data-id="<%= group.id %>">
                  <i class="glyphicon glyphicon-trash glyphicon" 
                    data-id="<%= group.id %>"></i>
                </a>
              <% end %>
            </td>
          </tr>
          <% @start_count += 1 %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" align="center"><%= t("common.table.empty") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-align-center custom-kaminari">
  <% if @groups.any? %>
    <%= paginate @groups %>
  <% end %>
</div>
