<div class="modal fade" id="category_form" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>

        <h5 class="modal-title" id="category_form_title">
          <%= t("model.category.title.add") %>
        </h5>
      </div>

      <%= form_with model: Category, url: group_categories_path,
        :html=> {:class => "form-horizontal", :id => "frm_category"} do |f| %>
        <div class="modal-body modal-body-custom">
          <div class="form-group">
            <div class="col-md-3 col-xs-3 control-label">
              <%= t("model.category.name")%>
              <span class="require">(*)</span>
            </div>

            <div class="col-md-7 col-xs-7">
              <%= f.text_field :name, {class: "form-control validate[required, maxSize[100]]", 
                id: "category_name", placeholder: t("model.category.type.name")} %>
              <div class="customErrorContent name"></div>
            </div>
          </div>
        </div>

        <div class="modal-footer modal-footer-custom">
          <div class="col-md-offset-3">
            <button type="button" class="btn custom-btn-green btn-submit" id="category_form_button">
              <%= t("common.form.add") %></button>
            <button type="button" class="btn btn-default cancel" data-dismiss="modal">
              <%= t("common.form.cancel") %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
