<%  if @products %>
  <div class="col-md-3 col-xs-3 control-label">
    <%= t("model.transaction.label.choose_product")%>  
  </div>

  <div class="col-md-8 col-xs-8">
    <div id="product_checkbox">
      <% count = 0 %>

      <% @products.each do |product| %>
        <% count += 1 %>
        <a href="javascript: void(0)" data-product-id="<%= product.id %>">
          <input type="checkbox" name="product" id="product_<%= product.id %>" class="check_product">
          <span class="label_check_product" id="product_name_<%= product.id %>">
            <%= product.name %></span>
        </a>
        <% if count == 4 %>
          <% count = 0 %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
