<% content_for :ribbon do %>
  <div id="ribbon">
    <a href="<%= root_path %>"><i class="fa fa fa-money"></i></a>
    <ol class="breadcrumb">
      <li>
        <a href="<%= group_transactions_path %>">
          <%= t("model.transaction.model_name") %>
        </a>
      </li>
    </ol>
  </div>
<% end %>

<article class="col-sm-12 col-md-12 col-lg-12">
  <div class="custom-widget">
    <header role="heading">
      <div class="col-xs-8 title">
        <h5>
          <%= t("model.transaction.title.list") %>
        </h5>
      </div>

      <div class="col-xs-4">
        <span class="btn custom-btn-green btn-add pull-right transaction_add" 
          data-toggle="modal" data-target="#transaction_form">
          <%= t("common.form.add") %>
        </span>
      </div>
    </header>

    <div class="wg-content">
      <div class="row search-content" id="transaction-search">
        <%= render "search" %>
      </div>
      <div class="row listing-container" id="list_transaction">
        <%= render "list" %>
      </div>
    </div>
  </div>
</article>

<% if @transactions.any? %>
  <%= render "script_datatable" %>
<% end %>

<%= render "form" %>
<%= render "shared/dialog"%>
<%= render "shared/dialog_success"%>
<%= render "script" %>
