<div class="table-responsive">
  <table class="custom-table table table-bordered">
    <thead>
      <tr>
        <th class="col-sm-1"><%= t("common.form.no") %></th>
        <th class="col-sm-4"><%= t("model.product.type.category_id") %></th>
        <th class="col-sm-6"><%= t("model.product.type.name") %></th>
        <th class="col-sm-1"><%= t("common.form.action") %></th>
      </tr>
    </thead>

    <tbody>
      <% if @products.any? %>
        <% category_id_array = [] %>

        <% @products.each do |product| %>
          <tr>
            <td><%= @start_count %></td>

            <% unless category_id_array.include? product.category_id %>
              <td rowspan="<%= @category_count_data[product.category_id] %>">
                <%= product.category.name %></td>
              <% category_id_array << product.category_id %>
            <% end %>

            <td><%= product.name %></td>
            <td>
              <a href="#" data-toggle="modal" data-target="#product_form" 
                class="product_edit" data-id="<%= product.id %>">
                <i class="fa fa-pencil-square-o custom-action-icon-green
                  custom-action-icon-edit">
                </i>
              </a>

              <a href="#modal-deletion" data-placement="right" 
                data-toggle="modal" data-id="<%= product.id %>">
                <i class="glyphicon glyphicon-trash glyphicon" 
                  data-id="<%= product.id %>"></i>
              </a>
            </td>
          </tr>
          <% @start_count += 1 %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" align="center"><%= t("common.table.empty") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="text-align-center custom-kaminari">
  <% unless @products.nil? %>
    <%= paginate @products %>
  <% end %>
</div>
